@import '../../assets/styles/colors';
@import '../../assets/styles/font';
@import '../../assets//styles/media';

.titleTable {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 15px 20px;
  border-radius: 30px;
  background-color: $color-white;

  @include font-circe-medium;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 15px 20px;
  @include font-circe-small;

  border-bottom: 1px solid $color-grey-dark;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}

.square {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.itemExpenses {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.list {max-height: 500px;
  @include media-tablet {
      max-height: 300px;
      overflow-y: scroll;
    }
            @include media-desktop {
      max-height: 500px;
        overflow-y: scroll;
            }
}
