.modal_wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  z-index: 1;
}
.modal_wrapper.open {
  height: 100%;
  display: block;
}
.modal_wrapper.close {
  height: 0;
  display: none;
}

.modal_body {
  max-width: 500px;
  margin: auto;
  background: white;
  margin-top: 5%;
  padding: 20px;
  border-radius: 10px;
  max-height: 100%;
}

.modal_close {
  text-align: right;
  margin-top: -15px;
  font-size: 40px;
  color: gray;
  cursor: pointer;
  border: none;
  background-color: white;
  float: right;
}

.modal_body h2 {
  margin-bottom: 20px;
  text-align: center;
}

.modal_button {
  text-align: center;
}

.button {
  width: 100px;
  height: 40px;
  margin-right: 30px; /* margin-right: 40px;
  margin-left: 40px; */
}
/* .button_n {
  width: 60px;
  height: 40px;
} */
