@import '../../assets/styles/media';
@import '../../assets/styles/_font.scss';
@import '../../assets/styles/colors';

.container {
  @media screen and (min-width: 768px) {
    position: relative;
  }

  @media screen and (min-width: 1280px) {
  }
}

.backg {

  padding-top: 85px;
  padding-bottom: 30px;
  height: 100%;
  background-color: $color-grey-bg-register;
  @media screen and (min-width: 768px) {
    background-size: cover;
      height: 100vh;
    background-image: url(../../assets/images/BackgrTablet.png);
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../../assets/images/BackgrDesctop.png);
  }
}

.vertical {
  display: none;
  @media screen and (min-width: 1280px) {
    width: 0px;
    display: block;
    position: absolute;
    top: -15px;
    left: 450px;
    background-color: #c6c4d2;
    height: calc(100vh - 87px);
    border: 1px solid #c6c4d2;
    box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.05),
      1px 0px 0px rgba(255, 255, 255, 0.6);
  }
}
