@import '../../assets/styles/media';
@import '../../assets/styles/_font.scss';
@import '../../assets/styles/colors';

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;

  @include media-tablet {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
    position: relative;
  }
  @include media-desktop {
    width: 1280px;
    padding-right: 16px;
    padding-left: 16px;
  }
}


