@import '../../assets/styles/media';
@import '../../assets/styles/_font.scss';
@import '../../assets/styles/colors';

.table_body {
  min-width: 100px;
  display: block;
  height: 400px;
  overflow-y: scroll;
    @media screen and (min-width: 1280px) {
  height: 540px;
      }
}
.tr {
  min-width: 100px;
  height: 58px;
  padding: 15px;
  border-bottom: 1px solid #dcdcdf;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}

.table_head {
  display: block;
  @include font-circe-medium;
  border-radius: 30px;
  overflow: hidden;
  background-color: white;
  margin-top: 16px;
  margin-bottom: 16px;
  border-right: none;

  color: $color-main-text;
}

.header_table {
  min-width: 100px;
  height: 58px;
  text-align: center;
}

.rows {
  @include font-circe-small;
  text-align: center;
  min-width: 100px;
  height: 52px;
  padding-left: 8px;
  color: $color-main-text;
}

.rows_com {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  max-width: 100px;
  height: 52px;
  padding-left: 8px;
  color: $color-main-text;
  &:hover {
    overflow: visible;
    white-space: pre-wrap;
  }
}
.rows_del {
  text-align: center;
  min-width: 50px;
  height: 52px;
  padding-left: 8px;
}
.home_tab {
  @media screen and (min-width: 1280px) {
    position: absolute;
    left: 580px;
    top: 130px;
  }
}
.rows_true {
  @include font-circe-small;
  text-align: center;
  min-width: 100px;
  height: 52px;
  padding-left: 8px;

  color: $color-green;
}

.rows_false {
  @include font-circe-small;
  text-align: center;
  min-width: 100px;
  height: 52px;
  padding-left: 8px;
  color: $color-red;
}

.not_trans {
  width: 280px;
  margin: 0 auto;
  @media screen and (min-width: 1280px) {
    margin-right: 300px;
  }
}
.input_search {
  border-radius: 15px;
  padding: 10px;
  width: 280px;
  border: 0;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  &:focus {
    outline: 2px solid $color-accent;
  }
  @media screen and (min-width: 768px) {
    margin: 0;
    margin-bottom: 5px;
  }
  @media screen and (min-width: 1280px) {
    position: absolute;
    right: 40px;
    top: 50px;
    padding: 15px;
    width: 25%;
  }
}

.delete_icon {
  width: 24px;
  height: 24px;
  display: flex;
  border-radius: 50px;
  align-items: center;
  cursor: pointer;
}
.spiner {
  display: flex;
  justify-content: center;
  @media screen and (min-width: 1280px) {
    position: absolute;
    right: 400px;
  }
}
.input_search_hidden{
  display: none;
}
 .search_message {
  text-align: center;
        padding-top: 2rem;
    @media screen and (min-width: 768px) {
      padding-top: 2rem;
text-align: center;
      }
    
      @media screen and (min-width: 1280px) {
text-align: right;
      }
 }