@import '../../assets/styles/media';
@import '../../assets/styles/_font.scss';
@import '../../assets/styles/colors';

.home_tab {
  @media screen and (min-width: 1280px) {
    position: absolute;
    left: 570px;
    top: 130px;
  }
}


.not_trans {
  width: 280px;
  margin: 0 auto;
  @media screen and (min-width: 1280px) {
    margin-right: 300px;
  }
}
.input_search {
  border-radius: 15px;
  padding: 10px;
  width: 280px;
  border: 0;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  &:focus {
    outline: 2px solid $color-accent;
  }
  @media screen and (min-width: 768px) {
    margin: 0;
    margin-bottom: 5px;
  }
  @media screen and (min-width: 1280px) {
    position: absolute;
    right: 40px;
    top: 50px;
    padding: 15px;
    width: 25%;
  }
}


.spiner {
  display: flex;
  justify-content: center;
  @media screen and (min-width: 1280px) {
    position: absolute;
    right: 400px;
  }
}
.input_search_hidden{
  display: none;
}
 .search_message {
  text-align: center;
        padding-top: 2rem;
    @media screen and (min-width: 768px) {
      padding-top: 2rem;
text-align: center;
      }
    
      @media screen and (min-width: 1280px) {
text-align: right;
      }
 }