@import '../../assets/styles/media';
@import '../../assets/styles/_font.scss';
@import '../../assets/styles/colors';

.navigation {
    padding-top: 15px;
    margin-bottom: 31px;
    
    @media screen and (min-width: 768px) {
        padding-top: 40px;
        padding-bottom: 28px;
        margin-bottom: 0;
    }
    
        @media screen and (min-width: 1280px) {}
}

.item_nav {
    padding: 0;
    margin: 0;
    align-items: center;
    text-decoration: none;
 
}
.item_nav_tabl{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0;
    margin: 0;
}


.list {
    display: flex;
    justify-content: center;
 
}


.item_link {

    list-style: none;
    &:not(:last-child) {
            margin-right: 38px;
            margin-bottom: 21px;
        }
  

}
.svg{
    width: 38px;
    transition: 2s;
  
        height: 38px;
    filter:opacity(75%) ;
}
.svg:hover {
     transition: 1s;
   
    filter: drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));
     
  
    
}
.svg_active{
    width: 38px;
    height: 38px;
}


.svg_tabl{
    width: 24px;
    height: 24px;
    margin-right: 23px;
}
.svg_tabl:hover {
    transition: 1s;
    filter: brightness(0.9) drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));


}

.svg_tabl_active {
    filter: brightness(0.9) contrast(100%) drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));
    width: 24px;
    height: 24px;
    margin-right: 23px;
}

.text {
@include font-poppins-small-light;
  margin: 0;
  color: $color-main-text;
  &:hover{
    font-weight: 700
  }
}

.active{
    @include font-poppins-small-light;
    font-weight: 700;
    color: $color-main-text;
}


