@import '../../assets/styles/font';
@import '../../assets/styles/colors';
@import '../../assets/styles/media';

@keyframes showBackdrop {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;

  width: 100vw;
  height: 100%;

  transition: all 0.3s;
  animation: showBackdrop 0.3s ease-out;
  @include media-tablet {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.modal {
  padding-top: 20px;

  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scaleX(1);

  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: $color-white;
  transition: all 0.3s;
  animation: showModal 0.3s ease-out;

  @include media-tablet {
    align-items: center;
    overflow-y: hidden;

    width: 568px;
    height: 600px;

    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 73px;
    padding-right: 73px;
  }
}

.close {
  display: none;
  @include media-tablet {
    display: block;
    right: 20px;
    top: 20px;
    position: absolute;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}

.wrapper {
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top: 50px;
  width: 280px;
  @include media-tablet {
    width: 100%;
  }
}

.modalTitle {
  margin-bottom: 40px;
  @include font-poppins-small;
  text-align: center;
}

.vert {
  width: 2px;
  height: 20px;
  background-color: $color-white;
  position: absolute;
  top: 12px;
  left: 21px;
}

.svg {
  width: 20px;
  height: 2px;
  background-color: $color-white;
  position: absolute;
  left: 12px;
  top: 21px;
}

.switchWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid $color-grey-light-more;
  border-radius: 30px;
}

.switchBox {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 42px;
  cursor: pointer;
}

.switchTitle {
  @include font-circe-medium-light;
  color: $color-grey-light-more;
}

.switchTitleIncome {
  @include font-circe-medium-light;
  color: $color-green;
}

.switchTitleExpense {
  @include font-circe-medium-light;
  color: $color-red;
}

.inputWrapper {
  position: relative;
  @include media-tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.input {
  margin-bottom: 40px;
  padding-left: 16px;
  width: 100%;
  height: 32px;

  outline: none;
  border: none;
  border-bottom: 1px solid $color-grey-light-more;

  @include font-circe-light-medium;

  @include media-tablet {
    padding-left: 0px;
    width: 190px;
  }
}

.input::placeholder {
  color: $color-grey-light;
}

.inputAmount {
  @include media-tablet {
    padding-left: 0px;
    text-align: center;
  }
}

.inputDate {
  margin-bottom: 10px;
  padding-left: 0px;

  @include media-tablet {
    padding-left: 16px;
    margin-bottom: 0;
  }
}

.dateContainer {
  position: relative;
}

.iconDate {
  position: absolute;
  top: 12%;
  right: 4%;

  @include media-tablet {
    top: 6%;
  }
}

.textareaContainer {
  position: relative;
}

.textarea {
  @include font-circe-light-medium;
  margin-bottom: 40px;
  padding-left: 16px;
  padding-bottom: 8px;

  width: 100%;

  outline: none;
  border: none;
  border-bottom: 1px solid $color-grey-light-more;

  @include media-tablet {
    padding-left: 15px;
    height: 32px;
  }
}

.errorMessage {
  position: absolute;
  right: 0;
  font-size: 10px;
  color: $color-red;

  @include media-tablet {
    bottom: 30%;
  }
}

.errorMessageAmount {
  top: 34%;

  @include media-tablet {
    top: 49%;
    left: 0;
  }
}

.errorMessageComment {
  bottom: 28%;

  @include media-tablet {
    bottom: 30%;
  }
}
