 .diagram {
@media screen and (min-width: 768px) {
position: absolute;
 
    top: 250px;
        left: 100px;
}
@media screen and (min-width: 1280px) {
   
        top: 10px;
            left: 600px;
}

 }

       