@import '../../assets/styles/font';
@import '../../assets/styles/media';

.blockdiagram {
  display: flex;
  flex-direction: column;
  @include media-tablet {
    flex-direction: row;
    justify-content: space-between;
  }
  @include media-desktop {
    position: absolute;
    top: 0;
    left: 480px;
    padding: 32px 0px 44px 69px;

  }
}

.title {
  text-align: center;
  margin-bottom: 8px;
  @include font-poppins-small-big;
  @include media-desktop {
    margin-bottom: 20px;
    padding-left: 15px;
  }
}

.blockSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media-tablet {
    flex-direction: inherit;
    justify-content: space-between;
    width: 336px;
  }

  @include media-desktop {
    width: 395px;
  }
}

.listStatistics {
  @include media-tablet {
    padding-top: 20px;
  }
  @include media-desktop {
    margin-left: 32px;
    padding-top: 65px;
  }
}
