@import '../../assets/styles/media';
@import '../../assets/styles/colors';
@import '../../assets/styles/font';

.section {
  @include media-tablet {
    position: relative;
    padding-top: 60px;
    padding-bottom: 48px;
    background-color: $color-grey-bg-register;
    margin: 0 auto;
  }
}

.ellipseTop {
  display: none;

  @include media-tablet {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.ellipseBottom {
  display: none;

  @include media-tablet {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.bgContainer {
  display: none;

  @include media-tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 532px;
    margin: 0 auto;

    margin-bottom: 50px;
  }
}

.img {
  width: 248px;
  height: 250px;
}

.text {
  @media (min-width: 768px) {
    @include font-poppins-small-big;
  }
}
