.header {
    display: flex;
    // margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    // padding-right: 28px;
    // padding-left: 16px;
    justify-content: space-between;
@media screen and (min-width: 768px) {
      
    }

@media screen and (min-width: 1280px) {
        
    }
}



.header_logo {
margin-right: 15px;
    width: 30px;
    height: 30px;
@media screen and (min-width: 768px) {
    width: 40px;
        height: 40px;
        margin-right: 20px;
}

    @media screen and (min-width: 1280px) {

    }

    // margin-right: 20px;
   
}

.header_right {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.header_left {
    display: flex;
    align-items: center;
}

.title {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 17px;
    
    color: #000000;
    @media screen and (min-width: 768px) {
        line-height: 45px;
    }
    
        @media screen and (min-width: 1280px) {


        }
}

.text {
    font-family: 'Circe';
    font-style: normal;
   
    font-weight: 400;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 27px;
    color: #BDBDBD;
    
    margin-right: 8px;
    @media screen and (min-width: 768px) {
            margin-right: 12px;
            padding-right: 12px;
            border-right: 1px solid #BDBDBD;
        }
    
}

.exit_svg {
    width: 18px;
    height: 18px;
    @media screen and (min-width: 768px) {
             margin-right: 8px;
        }
   
}

.exit_button {
    display: none;
    width: 31px;
    padding: 0;
    height: 24px;
    cursor: pointer;
    color: #BDBDBD;
    background-color: white;
    border: none;
}