.header {
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-right: 28px;
    padding-left: 16px;
    justify-content: space-between;
}

.header_logo {
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.header_right {
    display: flex;
    text-decoration: none;
}

.header_left {
    display: flex;
    align-items: center;
}

.title {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #000000;
}

.text {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 27px;
    color: #BDBDBD;
    padding-right: 12px;
    margin-right: 12px;
    border-right: 1px solid #BDBDBD;
}

.exit_svg {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.exit_button {
    Width: 31px;
    padding: 0;
    height: 24px;
    cursor: pointer;
    color: #BDBDBD;
    background-color: white;
    border: none;
}