@import '../../assets/styles/media';
@import '../../assets/styles/_font.scss';
@import '../../assets/styles/colors';

.container {
  position: relative;
  display: block;
  width: 280px;
  margin: 0 auto;
}

.icon {
  position: absolute;
  bottom: 22%;
  left: 4%;
}

.input {
  @include font-circe-small;
  display: flex;
  margin-bottom: 40px;
  padding-left: 46px;
  width: 100%;

  outline: none;
  border: none;
  border-bottom: 1px solid $color-grey-light-more;
}

.input::placeholder {
  color: $color-grey-light;
}

.isInvalid {
  border-bottom: 1px solid $color-red;
}

.error {
  position: absolute;
  top: 110%;
  font-size: 10px;
  color: $color-red;
}
