.currency {
    width: 393px;
    height: 347px;
    position: relative;
    background-color: #4A56E2;
    border-radius: 30px;

    background-repeat: no-repeat;
    background-image: url(../../assets/images/Rectangle.png);

}



.header_table {


    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.table_head {

    height: 60px;
}

.table {
    margin-left: 44px;
    margin-right: 64px;
    width: 300px;
}

.rows {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 24px;
    color: #FFFFFF;

}