@import '../../assets/styles/media';
@import '../../assets/styles/_font.scss';
@import '../../assets/styles/colors';

.currency_mobil {
  display: block;
  background-color: $color-accent;
  border-radius: 30px;
  height: 174px;
  position: relative;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 530px;
  background-repeat: no-repeat;
  background-image: url(../../assets/images/RectangleMob.svg);
}

.header_table {
  @include font-circe-medium;
  color: $color-white;
  padding-left: 8px;
  padding-right: 8px;
}
.rows {
  padding: 8px;
  font-family: 'Circe';
  @include font-circe-small;
  color: $color-white;
}

.svg {
  top: 90px;

  position: absolute;
  width: 280px;
}
.table_head {
  height: 50px;
}

.table {
  margin-left: 20px;
}
