p {
    margin: 0;
}

.balance {
    width: 395px;
    height: 80px;
    padding-left: 40px;
    padding-top: 8px;

    margin-bottom: 32px;
    border-radius: 30px;
    background-color: white;

}

.title {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 12px;
    line-height: 18px;
    color: #A6A6A6;
}

.text {
    font-family: 'Poppins';

    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #000000;

}