@import '../../assets/styles/colors';

.btn {
    position: absolute;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    width: 44px;
    height: 44px;

    background-color: $color-green;
    cursor: pointer;
}

.vert {
    width: 2px;
    height: 20px;
    background-color: $color-white;
    position: absolute;
    top: 12px;
    left: 21px;
}

.svg {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: $color-white;    
    top: 21px;
    left: 12px;
}