// переменные цветов

$color-main-text: #000000;
$color-accent: #4a56e2;
$color-white: #ffffff;

$color-grey: #a6a6a6;
$color-grey-light: #bdbdbd;
$color-grey-light-transparent: #e7eaf2;
$color-grey-bg: rgba(255, 255, 255, 0.7);
$color-grey-light-more: #e0e0e0;

$color-grey-bg-register: #e7eaf2;

$color-grey-dark: #dcdcdf;
$color-grey-bg-register: #e7eaf2;

$color-red: #ff6596;
$color-yellow: #fed057;

$color-pink: #ffd8d0;
$color-pink-deep: #fd9498;

$color-blue-light: #c5baff;
$color-blue: #6e78e8;
$color-blue-notactive: #6e78e8;

$color-green-light: #81e1ff;
$color-green: #24cca7;
$color-green-deep: #00ad84;
$color-green-dark: #34917b;

:export {
  colorYellow: $color-yellow;
  colorPink: $color-pink;
  colorPinkDeep: $color-pink-deep;
  colorBlueLight: $color-blue-light;
  colorBlue: $color-blue;
  colorAccent: $color-accent;
  colorGreenLight: $color-green-light;
  colorGreen: $color-green;
  colorGreenDeep: $color-green-deep;
  colorRed: $color-red;
  colorBlueNotactive: $color-blue-notactive;
  colorMainText: $color-main-text;
  colorAccent: $color-accent;
  colorWhite: $color-white;
  colorGrey: $color-grey;
  colorGreyLight: $color-grey-light;
}
