@mixin media-mobile {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}


@mixin media-tablet {
  @media (min-width: 768px) {
    @content;
    margin: 0 auto;
      padding-left: 32px;
      padding-right: 32px;
  }
}

@mixin media-desktop {
  @media (min-width: 1280px) {
    @content;
      margin: 0 auto;
        padding-left: 16px;
        padding-right: 16px;
  }
}

// в стилях компонента в классе пишем

// @include media-tablet {
// padding-top: 90px;
// width: 380px;
// }
